{
    "tabWidth": 4,
    "printWidth": 80,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "all",
    "endOfLine": "auto",
    "bracketSpacing": false,
    "ignore": ["**/node_modules/**", "**/dist/**"]
}
